@import "~@oblique/oblique/styles/scss/core/mixins/typography";
@import "~@oblique/oblique/styles/scss/core/variables";

.highlight {
	@include h3;
}

.mat-dialog-content {
	margin: $spacing-lg 0;
	padding: 0;
	color: $brand-default;
}

.mat-dialog-actions {
	display: block;
	text-align: right;
}
