@import "~@oblique/oblique/styles/scss/core/variables";
@import "~@oblique/oblique/styles/scss/core/mixins/layout";

body {
	min-width: 248px;
}

.application-footer .info {
	white-space: nowrap;
	overflow: hidden;
}

.form-actions {
	margin-top: $spacing-default;

	button + button {
		margin-left: $spacing-default;
	}
}

.cdk-overlay-container {
	z-index: 10000;
}

main {
	display: flex;
	justify-content: center;

	.content {
		flex-basis: 100%;

		@include media-breakpoint-up('sm') {
			flex-basis: 80%;
		}

		@include media-breakpoint-up('md') {
			flex-basis: 66%;
		}
	}
}

// Oblique fix
.alert-warning::before {
	line-height: 1;
}

a:not([disabled]),
button:not(.mat-button-base):not([disabled]) {
	&:focus {
		outline: none;
	}

	.outline &:focus {
		outline: 2px solid $brand-primary;
		box-shadow: 0 0 6px 0 $brand-default;
	}
}

.viewport-collapsed {
	@include layout-collapse-down {
		display: block;
	}

	@include layout-collapse-up {
		display: none;
	}
}

.viewport-expanded {
	@include layout-collapse-down {
		display: none;
	}

	@include layout-collapse-up {
		display: inline;
	}
}
