@import "~@oblique/oblique/styles/scss/core/variables";
@import "~@oblique/oblique/styles/scss/core/mixins/layout";

.form-actions {
	margin-top: $spacing-default;

	button + button {
		margin-left: $spacing-default;
	}
}

.cdk-overlay-container {
	z-index: 10000;
}

main {
	display: flex;
	justify-content: center;

	.content {
		flex-basis: 100%;

		@include media-breakpoint-up('sm') {
			flex-basis: 80%;
		}

		@include media-breakpoint-up('md') {
			flex-basis: 66%;
		}
	}
}

