<ob-master-layout>
	<ng-container obHeaderTitle>{{ "application.title" | translate }}</ng-container>
	<ng-container obFooterInfo> &copy; 2020 {{ "application.organization.name" | translate }} </ng-container>
	<ng-container obOffCanvasTitle>{{ "help.title" | translate }}</ng-container>
	<ng-container obOffCanvasContent>
		<p>{{ "help.text1" | translate }}</p>
		<p>{{ "help.text2" | translate }}</p>
		<p>{{ "help.text3" | translate }}</p>
	</ng-container>
	<ng-template #obHeaderControl>
		<button obOffCanvasToggle [matTooltip]="opened$ | async | translate" id="help-toggle_button">
			<span class="fa fa-question-circle"></span>
		</button>
	</ng-template>
	<ng-container *ngIf="isAuthenticated$ | async">
		<ng-template #obHeaderControl>
			<button [matTooltip]="'logout' | translate" class="control-link" (click)="logout()">
				<span class="fa fa-sign-out-alt control-icon"></span>
			</button>
		</ng-template>
		<ng-template #obHeaderControl>
			<span [matTooltip]="name$ | async">
				<span class="fa fa-user control-icon"></span>
			</span>
		</ng-template>
	</ng-container>
</ob-master-layout>
