@import "~@oblique/oblique/styles/scss/core/variables";
@import "~@oblique/oblique/styles/scss/core/mixins/layout";

:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: $spacing-lg;
}

form {
	margin-top: $spacing-lg;
	min-width: 100%;

	@include media-breakpoint-up('sm') {
		min-width: 365px;
	}
}
