<div class="wrapper">
	<section>
		<p class="lead">{{ "home.text1" | translate }}</p>
		<p>{{ "home.text2" | translate }}</p>
	<button mat-flat-button color="primary" id="more-info_button">
			<span class="fa fa-info"></span>
			{{ "home.info" | translate }}
		</button>
	<a [routerLink]="['..', 'generate-code']" mat-flat-button color="primary" id="login_button">
			<span class="fa fa-sign-in-alt"></span>
			{{ "home.login" | translate }}
		</a>
	</section>
	<section>
		<p>{{ "home.download" | translate }}</p>
		<div class="apps">
			<a href="https://www.google.ch" target="_blank"
				><img src="assets/google-play-store.png" alt="Google Play Store" id="google-play-store_link"
			/></a>
			<a href="https://www.apple.ch" target="_blank" id="app-store_link"
				><img src="assets/appStore.svg" alt="App-Store"
			/></a>
		</div>
	</section>
</div>
