@import "~@oblique/oblique/styles/scss/core/variables";
@import "~@oblique/oblique/styles/scss/core/mixins/typography";

:host {
	display: flex;
	justify-content: center;
}

.wrapper {
	margin-top: $spacing-lg;
}

p.lead {
	@include h4;
}

.actions {
	text-align: center;
	margin-top: $spacing-default;
}

.mat-button-base {
	display: block;
	width: 100%;
	margin-bottom: $spacing-lg;
}

section + section {
	margin-top: 3 * $spacing-lg;
}

.apps {
	display: flex;
	justify-content: space-around;
	justify-content: space-evenly; // not supported by IE
	margin-top: $spacing-default;

	img {
		height: 3 * $spacing-default;
	}
}

aside {
	@include h2;
	position: fixed;
	top: $spacing-default;
	background-color: $brand-error-light;
	color: $brand-error;
	border: 1px solid $brand-error;
	border-radius: $spacing-xs;
	padding: $spacing-default;
	text-align: center;
	z-index: 100000;
}

