<div class="wrapper">
	<section>
		<div class="alert alert-warning" *ngIf="showWarning">
			{{ "home.warning" | translate }}
			<a href="https://www.covidcode.admin.ch">https://www.covidcode.admin.ch</a>.
		</div>
		<p class="lead">{{ "home.text1" | translate }}</p>
		<p>{{ "home.text2" | translate }}</p>
		<mat-card>
			<mat-card-header>
				<mat-card-title>{{ "home.login.title" | translate }}</mat-card-title>
				<mat-card-subtitle>{{ "home.login.subtitle" | translate }}</mat-card-subtitle>
				<span mat-card-avatar class="fas fa-user-md"></span>
			</mat-card-header>
			<mat-card-actions class="actions">
				<a [routerLink]="['..', 'generate-code']" mat-flat-button color="primary" id="login_button">
					<span class="fa fa-sign-in-alt"></span>
					{{ "home.login.button" | translate }}
				</a>
			</mat-card-actions>
		</mat-card>
	</section>
	<section *ngIf="lang$ | async as lang">
		<p>{{ "home.more" | translate }}</p>
		<ul class="links">
			<li>
				<a
					[href]="'https://www.eiam.admin.ch/dmpts?l=' + lang"
					target="_blank"
					rel="noreferrer"
					id="physician_link"
				>
					<span class="icon-link"><i class="fas fa-external-link-alt"></i></span
					>{{ "home.physician" | translate }}
				</a>
			</li>
			<li>
				<a
					[href]="'https://www.eiam.admin.ch/euinpts?l=' + lang"
					target="_blank"
					rel="noreferrer"
					id="contact-managment_link"
				>
					<span class="icon-link"><i class="fas fa-external-link-alt"></i></span
					>{{ "home.contactManagement" | translate }}
				</a>
			</li>
		</ul>
	</section>
</div>
